<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>签到</title>
    <style type="text/css">
        @font-face{
            font-family:youai;
            src:url('font/youai.ttf');
        }
        div{
            font-family: youai;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="card" style="width: 800px;background-image: url('img/bg.png');" id="main">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-12 text-center">
                        <h1>交易行</h1>
                    </div>
                </div>
                <div class="row">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                              <th scope="col">编号</th>
                              <th scope="col">名称</th>
                              <th scope="col">类型</th>
                              <th scope="col">等级</th>
                              <th scope="col"><span style="color:rgb(136, 57, 43);">价格</span></th>
                              <th scope="col">寄售人</th>
                              <th scope="col">日期</th>
                              <th scope="col">备注</th>
                              <th scope="col">关注</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in datas %}
                                <tr>
                                    <td>{{data.编号}}</th>
                                    <td>{{data.名称}}</th>
                                    <td>{{data.类型}}</th>
                                    <td>{{data.等级}}</th>
                                    <td>{{data.价格}}</th>
                                    <td>{{data.寄售人}}</th>
                                    <td>{{data.日期}}</th>
                                    <td>{{data.备注}}</th>
                                    <td>{{data.关注}}</th>
                                </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                </div>
            </div>
            <div class="card-footer">
                <p class="text-center text-secondary">第{{ 当前页 }}页 共{{ 页数 }}页</p>
            </div>
        </div>
    </div>
</body>

</html>