<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>装备</title>
    <style type="text/css">
        @font-face{
            font-family:youai;
            src:url('font/youai.ttf');
        }
        div{
            font-family: youai;
        }
    </style>
</head>

<body>
    <div id="main" style="width: 400px;padding: 10px;background-image: url('img/bg.png');">
        <div style="text-align:center">
            <h2>{{ 名称 }}<span style="color:rgb(136, 57, 43);">的</span>背包</h2>
        </div>
        <p>
            <h4>物品</h4>
            {% for i in 物品 %}
                <span>[{{i.名称}}*{{i.数量}}]</span>
            {% endfor %}
        </p>
        <p>
            <h4>图纸</h4>
            {% for i in 图纸 %}
                <span>[{{i[0]}}*{{i[1]}}]</span>
            {% endfor %}
        </p>
        <p>
            <h4>材料</h4>
            {%- for i in 材料 -%}
                <span>[{{i[0]}}*{{i[1]}}]</span>
            {% endfor %}
        </p>
    </div>
</body>
</html>