<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>投喂</title>
    <style type="text/css">
        @font-face{
            font-family:youai;
            src:url('font/youai.ttf');
        }
        div{
            font-family: youai;
        }
    </style>
</head>

<body>
        <div class="card" style="width: 600px;background-image: url('img/bg.png');text-align:center" id="main">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-12">
                        <h2>投<span style="color:rgb(136, 57, 43);">喂</span>作者</h2>
                    </div>
                </div>
                <div class="row align-items-center" style="text-align:center">
                    <div class="col-12">
                        <p>感谢各位老爷们每一分钱的投喂</p>
                        <p>投喂作者的钱将全部用于支付服务器运维开销以及补贴管理人员</p>
                        <p>但是投喂行为并不会让您获得任何收益</p>
                    </div>
                </div>
                <div class="row align-items-center;">
                    <div class="col-6">
                        <img src="./img/投喂/支付宝.png" height="180" width="180">
                        <h4><span style="color:#2989cd;">支付宝</span></h4>
                    </div>
                    <div class="col-6">
                        <img src="./img/投喂/微信.png" height="180" width="180">
                        <h4><span style="color:#17c30d;">微信</span></h4>
                    </div>
                </div>
                <div class="row align-items-center" style="text-align:center">
                    <div class="col-12">
                        <p class="text-center text-secondary">在“使用说明”的最下方可以看到投喂榜</p>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>