# 项目配置文件

node_info:
  node: main
  domin: 127.0.0.1

# 数据站设置
jx3api:
  # ws链接地址
  ws_path: wss://socket.nicemoe.cn
  # ws的token授权，关联ws服务器推送消息类型
  ws_token: ~
  # 主站地址
  jx3_url:  https://www.jx3api.com
  # 主站token，不填将不能访问带ticket的接口
  jx3_token: ~

jx3sand:
  account: ~
  password: ~

# 邮件通知配置
mail:
  # 服务器地址
  host: smtp.qiye.aliyun.com
  # 端口号
  pord: 465
  # 用户名
  user: ~
  # 密码，可能是授权码
  pass: ~
  # 发送方
  sender: 二猫子的猛男助理
  # 接收方
  receiver: ~

# 华为违规词检测
huaweicloudsdkcore:
  ak: ~
  sk: ~
  region: ~

# mongodb
mongodb:
  mongdb_ip: ~
  mongodb_port: 27017
  mongodb_username: admin
  mongodb_password: ~

# 默认设置
default:
  # 插件debug日志是否显示在控制台
  logger_debug: true

bot_conf:
  # 机器人管理群(无视机器人加群限制)
  manage_group: []

# 路径设置
path:
  # 数据文件夹
  data: data
  # 日志文件夹
  logs: log/
  # html模板文件路径
  templates: ./template
  # 欢迎消息存储图片路径
  welcome: ./data/welcome/
  # 离群消息储存图片路径
  someoneleft: ./data/someoneleft/

github:
  secret: ~
  port: ~

nlp:
  secretId: ~
  secretKey: ~
